<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground | Vue 3</title>
  </head>
  <body>
    <h1>Netflix Fav Show</h1>
    <div id="app">
      <h2>{{show.name}}</h2>
      <p v-if="show.characters.length === 0">show does not have characters</p>
      <div v-else>
        <h3>Cast</h3>
        <ul>
          <li v-for="character in show.characters">{{ character.name }}</li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data: () => ({
          show: {
            name: "Blood & Water",
            characters: [
              { name: "Ama Qamata" },
              { name: "Khosi Ngema" },
              { name: "Gail Mabalane" },
              { name: "Thabang Molaba" },
              { name: "Dillon Windvogel" },
            ],
          },
        }),
      });

      app.mount("#app");
    </script>
  </body>
</html>
